# My Real Public IP
alias ifconfig.me="curl ifconfig.me"

# IO
alias mkdir='mkdir -vp'
alias cp='cp -v'
alias mv='mv -v'

# Git
alias g="git"

# ViM
alias v="vim"

# Enable aliases to be sudo'ed
alias sudo="sudo "

# Gzip-enabled `curl`
alias gurl="curl --compressed"

# HTTP Request Methods
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="curl -X $method"
done

# Colorize Output
alias grep="/bin/grep --color=auto"
alias ll="ls --color=auto -laF"
