# MkDir & Change Directory to it
function mkd() {
	mkdir -p "$@" && cd "$@"
}

# Data URL of a File
function dataurl() {
	local mimeType=$(file -b --mime-type "$1")
	if [[ $mimeType == text/* ]]; then
		mimeType="${mimeType};charset=utf-8"
	fi
	echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')"
}

# Run `dig` and display the most useful info
function digga() {
	dig +noall "$1" any +multiline +answer +stats;
}

# Knock Knock
function knock() {
	server=$1
	for port in $@; do nmap -Pn --host_timeout 201 --max-retries 0 -p $port $server; done
}

# View HTTP Traffic
function sniff() {
	 sudo ngrep -d $1 -t '^(GET|POST) ' 'tcp and port 80';
}
function httpdump() {
	 sudo tcpdump -i $1 -n -s 0 -w - | grep -a -o -E "Host: .*|GET /.*";
}

# Install My Kind of Bluez Tools
function megaInstall() {
	# HomeBrew
	ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
	#ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/linuxbrew/go/install)"
	# Composer
	curl -sS https://getcomposer.org/installer | php -- --install-dir=~/bin --filename=composer
	chmod a+x ~/bin/composer
	composer global install
	# Symfony Installer
	curl -LsS http://symfony.com/installer -o ~/bin/symfony
	chmod a+x ~/bin/symfony
	# PHPUnit
	curl -L https://phar.phpunit.de/phpunit.phar -o ~/bin/phpunit
	chmod a+x ~/bin/phpunit
}

# Dash Documents
function dash() {
    open dash://$1
}
