##### Eclipse
*.pydevproject
.project
.metadata
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

#### Linux
*~
.directory
*.bak
*.swp
*~

#### OSX
.DS_Store
._*
.AppleDouble
.LSOverride

#### NetBeans
nbproject/

#### PHPStorm
.idea/

#### KDevelop4 & Kate
*.kdev4
.kdev4/
*.kate-swp
