[user]                                                                                                                
	name = Mohammad Shokri
	email = shokri.md@gmail.com

[alias]
	s = status -s
	st = status
	
	ci = commit
	
	br = branch
	
	co = checkout
	
	df = diff
	dc = diff --cached
	
	l = log --oneline --graph
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	
	ls = ls-files

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
    
    
	# Pretty OneLine Log
	
	
	# Short Status
	
	
	# Branches/Tags/Remotes
	b = branch -a
	t = tag -l
	r = remote -v

	# Commit
	cm = commit -m

[core]
	# Use custom GitIgnore
	excludesfile = ~/.gitignore
	
	# Set ViM as Default Editor
	editor = vim

	# Compression Level
	compression = 9

[color]
	# Colorize Output when Possible
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[credential]
	# Cache Credentials for 12 Hours
	helper = cache --timeout 43200

[merge]
	# Meld Diff Tool
	tool = meld
