##### Eclipse
*.pydevproject
.project
.metadata
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

#### Tags
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
!TAGS/
tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out

#### Linux
*~
.directory
*.bak
*.swp
*~

#### OSX
.DS_Store
._*
.AppleDouble
.LSOverride

#### NetBeans
nbproject/

#### PHPStorm
.idea/

#### KDevelop4 & Kate
*.kdev4
.kdev4/
*.kate-swp
